.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}
.button-2 {
  background-color: #B7E0FF;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-2:hover,
.button-2:focus {
  background-color: #37AFE1;
}

#womanman {
  display: flex;
  justify-content: space-around;
}
/* #navbar {
  display: flex;
} */
#profile {
  margin-left: 50px;
}
#search {
  height: 32px;
  width: 349px;
  border-radius: 16px;
}
#foto1 {
height: 202px;
  width: 520px;
  border-radius: 8px;
  background-color: #FFAD60;
  padding-top: 30px;
  padding-left: 10px;
}
#foto2 {
height: 202px;
  width: 530px;
  border-radius: 8px;
  background-color: #7AB2D3;
  padding-top: 40px;
  padding-left: 0px;
  text-align: center;
  margin-top: 20px;
}
#foto3 {
height: 300px;
  width: 219px;
  border-radius: 8px;
  background-color: #9B7EBD;
  padding-top: 40px;
  padding-left: 0px;
  text-align: center;
  margin-top: 20px;
  
}
#bodyfoto {
display: flex;
justify-content: space-evenly;
}
#foto4 {
    height: 300px;
      width: 219px;
      border-radius: 8px;
      background-color: gray;
      padding-top: 40px;
      padding-left: 0px;
      text-align: center;
      margin-top: 20px;
}
#patik{
    height: 130px;
   
    
}
#patika{
    height: 130px;
   
    
}
#njeri{
    height: 260px;
    width: 180px;
}
#njeri2{
    height: 260px;
    width: 180px;
}
#njeri3{
    height: 260px;
    width: 180px;
}
#njeri4{
    height: 260px;
    width: 180px;
}
#fotot{
    display: flex;
    justify-content: space-evenly;
}
#cart{
    height: 30px;
    width: 30px;
}